// This is your MongoDB database connection string.
MONGODB_URI=mongodb+srv://vercel-admin-user:eZBwp7oq7qr4IzA5@cluster0.oht5lq3.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

// How to generate a GitHub client id and secret:
// 1. Go to https://github.com/settings/developers and create a new OAuth application
// 2. Name your application "MongoDB Starter"
// 3. Set the homepage URL to https://vercel.app for now (we'll change this later)
// 4. Set the authorization callback URL to https://vercel.app/api/auth/callback/github for now (we'll change this later)
// 5. Click "Register application".
// 6. Once the application is created, copy the "Client ID".
// 7. Generate a new client secret and copy that too.
// 8. Once your application is deployed, edit the homepage & callback URLs to match your deployment URL.

GITHUB_CLIENT_ID=ca810e94985a229cad3c
GITHUB_CLIENT_SECRET=1b457a15ffec3ee58faa980bce827d7fea4eae66

// Generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=f065b3c72c4bb6dff5532565725a9c57af449b3ea275390a5a990192154bfce5

// You don't need to define this variable in prod (only for localhost)
NEXTAUTH_URL=http://localhost:3000/api/auth
